<header>
   <div class="karlResume">

        <img class="profilepic">


        <h1>Karl Hass Resume</h1>

           <div class="info">
        <ul class="list-unstyled">
        <li>3031 Ewing Ave</li>
        <li>Minneapolis, MN 55416</li>
        <li>320.282.4575</li>
        </ul>
           </div>


        <section class="nav">
        <md-button class=infoButton ng-click href="https://www.linkedin.com/in/karlhass" target="_blank">
                <img class="linkedin" src="http://i.imgur.com/tDYxJgd.png"></md-button>
        <md-button class="cvButton" ng-click href="/assets/styles/karl hass resume.docx"
                   download="karl hass resume.docx">Download CV</md-button>

            <div class="line"> What has 2 thumbs and you should hire </div>
        <div class="line2">click here to see --->  </div>
        </section>
   </div>
</header>