#experienceContainer {
    z-index: 700;
    margin-top: 30px;
    max-width: 900px;
}
.primeTitle {
    margin-top: 7px;
}

.prime {
    opacity: .4;
    -webkit-transition: opacity .65s ease-in;
    -moz-transition: opacity .65s ease-in;
    -o-transition: opacity .65s ease-in;
    -ms-transition: opacity .65s ease-in;
    transition: opacity .65s ease-in;

}
.prime:hover {
    opacity: 1;
    font-size: 16px;
}

.zimmerman {
    opacity: .4;
    -webkit-transition: opacity .65s ease-in;
    -moz-transition: opacity .65s ease-in;
    -o-transition: opacity .65s ease-in;
    -ms-transition: opacity .65s ease-in;
    transition: opacity .65s ease-in;

}
.zimmerman:hover {
    opacity: 1;
    font-size: 16px;
}

.livin {
    opacity: .4;
    -webkit-transition: opacity .65s ease-in;
    -moz-transition: opacity .65s ease-in;
    -o-transition: opacity .65s ease-in;
    -ms-transition: opacity .65s ease-in;
    transition: opacity .65s ease-in;
}

.livin:hover {
    opacity: 1;
    font-size: 16px;
}

.mosaic {
    opacity: .4;
    -webkit-transition: opacity .65s ease-in;
    -moz-transition: opacity .65s ease-in;
    -o-transition: opacity .65s ease-in;
    -ms-transition: opacity .65s ease-in;
    transition: opacity .65s ease-in;
}

.mosaic:hover {
    opacity: 1;
    font-size: 16px;
}

.gmr {
    opacity: .4;
    -webkit-transition: opacity .65s ease-in;
    -moz-transition: opacity .65s ease-in;
    -o-transition: opacity .65s ease-in;
    -ms-transition: opacity .65s ease-in;
    transition: opacity .65s ease-in;
}

.gmr:hover {
    opacity: 1;
    font-size: 16px;
}

.contractor {
    opacity: .4;
    -webkit-transition: opacity .65s ease-in;
    -moz-transition: opacity .65s ease-in;
    -o-transition: opacity .65s ease-in;
    -ms-transition: opacity .65s ease-in;
    transition: opacity .65s ease-in;
}

.contractor:hover {
    opacity: 1;
    font-size: 16px;
}

.miller {
    opacity: .4;
    -webkit-transition: opacity .65s ease-in;
    -moz-transition: opacity .65s ease-in;
    -o-transition: opacity .65s ease-in;
    -ms-transition: opacity .65s ease-in;
    transition: opacity .65s ease-in;
}

.miller:hover {
    opacity: 1;
    font-size: 16px;
}

.bi {
    opacity: .4;
    -webkit-transition: opacity .65s ease-in;
    -moz-transition: opacity .65s ease-in;
    -o-transition: opacity .65s ease-in;
    -ms-transition: opacity .65s ease-in;
    transition: opacity .65s ease-in;
}

.bi:hover {
    opacity: 1;
    font-size: 16px;
}

.cpc {
    opacity: .4;
    -webkit-transition: opacity .65s ease-in;
    -moz-transition: opacity .65s ease-in;
    -o-transition: opacity .65s ease-in;
    -ms-transition: opacity .65s ease-in;
    transition: opacity .65s ease-in;
}

.cpc:hover {
    opacity: 1;
    font-size: 16px;
}

.riplfx {
    opacity: .4;
    -webkit-transition: opacity .65s ease-in;
    -moz-transition: opacity .65s ease-in;
    -o-transition: opacity .65s ease-in;
    -ms-transition: opacity .65s ease-in;
    transition: opacity .65s ease-in;
}

.riplfx:hover {
    opacity: 1;
    font-size: 16px;
}

/*Education*/
.school {
    opacity: .4;
    -webkit-transition: opacity .65s ease-in;
    -moz-transition: opacity .65s ease-in;
    -o-transition: opacity .65s ease-in;
    -ms-transition: opacity .65s ease-in;
    transition: opacity .65s ease-in;
}

.school:hover {
    opacity: 1;
    font-size: 16px;
}

