
.prime {
    opacity: .2;
    -webkit-transition: opacity 1.25s ease-in;
    -moz-transition: opacity 1.25s ease-in;
    -o-transition: opacity 1.25s ease-in;
    -ms-transition: opacity 1.25s ease-in;
    transition: opacity 1.25s ease-in;
    width: 1000px;

}
.prime:hover {
    opacity: 1;
    font-size: 16px;
}

.zimmerman {
    opacity: .2;
    -webkit-transition: opacity 1.25s ease-in;
    -moz-transition: opacity 1.25s ease-in;
    -o-transition: opacity 1.25s ease-in;
    -ms-transition: opacity 1.25s ease-in;
    transition: opacity 1.25s ease-in;
    width: 1000px;

}
.zimmerman:hover {
    opacity: 1;
    font-size: 16px;
}

.livin {
    opacity: .2;
    -webkit-transition: opacity 1.25s ease-in;
    -moz-transition: opacity 1.25s ease-in;
    -o-transition: opacity 1.25s ease-in;
    -ms-transition: opacity 1.25s ease-in;
    transition: opacity 1.25s ease-in;
    width: 1000px;

}
.livin:hover {
    opacity: 1;
    font-size: 16px;
}
.mosaic {
    opacity: .2;
    -webkit-transition: opacity 1.25s ease-in;
    -moz-transition: opacity 1.25s ease-in;
    -o-transition: opacity 1.25s ease-in;
    -ms-transition: opacity 1.25s ease-in;
    transition: opacity 1.25s ease-in;
    width: 1000px;

}
.mosaic:hover {
    opacity: 1;
    font-size: 16px;
}
.gmr {
    opacity: .2;
    -webkit-transition: opacity 1.25s ease-in;
    -moz-transition: opacity 1.25s ease-in;
    -o-transition: opacity 1.25s ease-in;
    -ms-transition: opacity 1.25s ease-in;
    transition: opacity 1.25s ease-in;
    width: 1000px;

}
.gmr:hover {
    opacity: 1;
    font-size: 16px;
}
.contractor {
    opacity: .2;
    -webkit-transition: opacity 1.25s ease-in;
    -moz-transition: opacity 1.25s ease-in;
    -o-transition: opacity 1.25s ease-in;
    -ms-transition: opacity 1.25s ease-in;
    transition: opacity 1.25s ease-in;
    width: 1000px;

}
.contractor:hover {
    opacity: 1;
    font-size: 16px;
}
.miller {
    opacity: .2;
    -webkit-transition: opacity 1.25s ease-in;
    -moz-transition: opacity 1.25s ease-in;
    -o-transition: opacity 1.25s ease-in;
    -ms-transition: opacity 1.25s ease-in;
    transition: opacity 1.25s ease-in;
    width: 1000px;

}
.miller:hover {
    opacity: 1;
    font-size: 16px;
}
.bi {
    opacity: .2;
    -webkit-transition: opacity 1.25s ease-in;
    -moz-transition: opacity 1.25s ease-in;
    -o-transition: opacity 1.25s ease-in;
    -ms-transition: opacity 1.25s ease-in;
    transition: opacity 1.25s ease-in;
    width: 1000px;

}
.bi:hover {
    opacity: 1;
    font-size: 16px;
}
.cpc {
    opacity: .2;
    -webkit-transition: opacity 1.25s ease-in;
    -moz-transition: opacity 1.25s ease-in;
    -o-transition: opacity 1.25s ease-in;
    -ms-transition: opacity 1.25s ease-in;
    transition: opacity 1.25s ease-in;
    width: 1000px;

}
.cpc:hover {
    opacity: 1;
    font-size: 16px;
}
.riplfx {
    opacity: .2;
    -webkit-transition: opacity 1.25s ease-in;
    -moz-transition: opacity 1.25s ease-in;
    -o-transition: opacity 1.25s ease-in;
    -ms-transition: opacity 1.25s ease-in;
    transition: opacity 1.25s ease-in;
    width: 1000px;

}
.riplfx:hover {
    opacity: 1;
    font-size: 16px;
}
.school {
    opacity: .2;
    -webkit-transition: opacity 1.25s ease-in;
    -moz-transition: opacity 1.25s ease-in;
    -o-transition: opacity 1.25s ease-in;
    -ms-transition: opacity 1.25s ease-in;
    transition: opacity 1.25s ease-in;
    width: 1000px;

}
.school:hover {
    opacity: 1;
    font-size: 16px;
}